<!--https://effective-invention-v6xq9gv9qpqv2xjxr.github.dev/pf-signin?id=amusing-river-ttn4gls&cluster=aue&name=effective-invention-v6xq9gv9qpqv2xjxr&port=5000&pb=https%3A%2F%2Feffective-invention-v6xq9gv9qpqv2xjxr-5000.app.github.dev%2Fauth%2Fpostback%2Ftunnel%3Ftunnel%3D1&cid=113b30a2-53cf-4274-b1ef-d49a7a092e92-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Santi Styles | Barbershop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <header>
        <nav>
        </nav>
    </header>

    <main>
        <section class="hero">
            <h1>Boost Your Confidence <br> With <br> Santi Styles</h1>
            <p>Welcome to <strong>@Santi.styles</strong>, where traditional trims meets modern style. Whether you’re looking for a sharp fade, a classic taper, maybe with an on point design, Santi.Styles assures to have you covered.</p>
            <a href="#booking" class="cta-button">Book In</a>
        </section>

        <hr>

        <section class="services">
            <h3>Our Featured Services</h3>
            <ul class="services-list">
                <li>
                    <strong>Haircut + Fade / No Fade</strong>
                    <span>A scissor cut with a trim via clippers.</span>
                </li>
                <li>
                    <strong>Haircut + Fade / No Fade + Design </strong>
                    <span>Haircut + Fade with an on point design</span>
                </li>
                <li>
                    <strong>Buzz Cut + Fade / No Fade </strong>
                    <span>A 1-8 Guard all over with a fade.</span>
                </li>
                <li>
                    <strong>Kids Haircuts</strong>
                    <span>From years 0-11, keeping the kids look sharp</span>
                </li>
            </ul>
        </section>

        <section id="booking">
            <h3>Book Now</h3>
            <p>We value your time. Skip the wait and secure your spot with our online booking system.</p>
            <a href="#" class="cta-button">Select a Time</a>
        </section>
    </main>

    <footer>
        <p>&copy; 67 Santi Styles. All rights reserved.</p>
    </footer>

</body>
</html>